.item{
    text-align: center;
    width: 200px;
    border: 1px solid #ccc;
    padding: 20px 5px;
    border-radius: 10px;
    line-height: 22px;
    margin-bottom: 10px;

}
.item:hover{
    cursor: pointer;
    opacity: 0.8;
}
.nome{
    font-weight: bold;
}

.marca{
    color: blueviolet;

}

.valor{
    color:blue;
    font-weight: bold;

}

.btn-comprar{
    margin-top: 20px;
    background-color: aquamarine;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    height: 25px;
   
}

.verde{
    background-color: green;

}

.rosa{
    background-color: pink;
}